**/tmux/plugins/**
**/nvim/plugin/**
**/hs/
.zcompdump*
zsh_history
tags
**/Spoons/**
**/node_modules/**
**/share/nvim/**
**/nvim/pack*/**
*.class
*.dll
*.exe
*.log
*.o
*.pyc
*.so
.*.sw?
.DS_Store
.Spotlight-V100
.Trashes
._*
.env
.git/**
.python-version
Icon?
Thumbs.db
ehthumbs.db
id_rsa
