[submodule "local/.local/share/linuxify"]
	path = local/.local/share/linuxify
	url = https://github.com/vladdoster/linuxify.git

[submodule "local/.local/share/oh-my-zsh"]
	path = local/.local/share/oh-my-zsh
	url = https://github.com/vladdoster/oh-my-zsh.git
